/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	background: url(phoos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	height: vh;
}

h1 {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
	display: block;
	font-size: 30px;
	margin-top: 57px;
}

h2 {
	background-color: #fff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Header styles */
header {
	color: #fff;
	padding: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
 	font-family: ui-monos ;}

nav a:hover {
	color: #ffffff;
}

/* Movies styles */
#movies {
	background-color:#1D2B64 ,#F8CDDA ;
	padding: 50px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
	padding: 20px;
	margin-bottom: 30px;

}



.mo

.movie img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.movie h3 {
	margin-top: 0;
}

.movie p {
	margin: 10px 0;
}

.movie ul {
	margin: 0;
	padding: 0;
}

.movie li {
	margin: 5px 0;
}

/* Theaters styles */
#theaters {
	/* background-color: #ffffff; */
	padding: 50px;
}

.theaters-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
}

.theater {
	/*background-color: #fff; */
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); /* Изменение цвета тени*/
	padding: 20px;
	margin-bottom: 10px;
}

.theater h3 {
	margin-top: 0;
}

.theater p {
	margin: 10px 0;
}

/* Tickets styles */
#tickets {
	/*background-color: #ffffff;*/
	padding: 50px;
}

/* #contact {
	background-color: #400202;
	padding: 40px;
} */

#movie-select {
	padding: 10px;
	margin-right: 10px;
}

#showtime-select {
	padding: 10px;
	margin-right: 10px;
}

#quantity-input {
	padding: 10px;
	margin-right: 10px;
}

#purchase-button {
	padding: 10px;
	background-color: #ffffff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#purchase-button:hover {
	background-color: #ffffff;
}


/*for desktop */
@media screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }
}
/*for mobile  */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}
